.integrator {
  height: calc(100/16 * 1rem);
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

.pipeline-alert {
  min-width: 450px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.pipeline-alert span {
  background-color: #212529;
  color: #F8F9FA;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  pointer-events: none;
}

.submit-button {
  background-color: #212529;
  color: #F8F9FA;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  margin-inline-start: auto;
}

.submit-button:active {
  transform: scale(0.95);
}