.toolbar {
  height: calc(100/16 * 1rem);
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.draggable-node {
  cursor: grab;
  background-color: #212529;
  color: #F8F9FA;
  border-radius: 5px;
  width: 5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.draggable-node:hover {
  border: 2px solid #212529;
  background-color: #FFF;
  color: #212529;
}

.draggable-node:active {
  cursor: grabbing;
}