.ui-zone {
  flex: 1;
  background-color: #DEE2E6;
  padding: 0.5rem;
  box-shadow: inset 0 0 5px 2px black;
}

.generic-node {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #FFF;
  border: 1px solid #212529;
  border-radius: 5px;
  padding: 0.8rem;
  min-width: 300px;
  height: auto;
}

.node-title {
  background-color: #343A40;
  color: #F8F9FA;
  width: 100%;
  padding-block: 0.25rem;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
}

.node-name {
  background-color: #CED4DA;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
}

.node-name input {
  display: block;
  padding: 0.25rem;
  margin-block: 0.25rem;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  outline: none;
}

.content-container {
  background-color: #DEE2E6;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
  flex: 1;
}

.content-container select {
  font-weight: 400;
  margin-block: 0.25rem 0.5rem;
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 2px;
  border: 1px solid #343A40;
  outline: none;
}

.content-container textarea {
  display: block;
  min-width: 100%;
  max-width: 400px;
  field-sizing: content;
  scrollbar-width: none;
  margin-block: 0.25rem;
  padding: 0.5rem;
  border-radius: 2px;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
}

.emailNode-container input {
  display: block;
  padding: 0.25rem;
  margin-block: 0.25rem;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  outline: none;
}

.outputNode-container>div pre {
  display: block;
  margin-block: 0.25rem;
  background-color: #FFF;
  border-radius: 2px;
  min-height: calc(60/16 * 1rem);
  font-weight: 400;
}

.outputNode-container>div div {
  margin-block: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #FFF;
  border-radius: 2px;
  font-weight: 400;
}

.source-handle {
  width: 12px;
  height: 12px;
  background-color: #38b000;
  border: 2px solid #F8F9FA;
  right: -5px;
}

.target-handle {
  width: 12px;
  height: 12px;
  background-color: #d62828;
  border: 2px solid #F8F9FA;
  left: -5px
}